/* importing google font - inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#f4f0ff, #dadcff);
}
/* TOGGLER */
#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  background: #6d4fc2;
  border-radius: 50%;
  cursor: pointer;
  box-shadow:
    0 0 16px 0 rgba(0, 0, 0, 0.1),
    0 16px 32px -16px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#chatbot-toggler span {
  position: absolute;
  color: #fff;
  font-size: 1.8rem;
  transition: 0.3s ease;
}
.container.show-chatbot #chatbot-toggler {
  transform: rotate(90deg);
}
#chatbot-toggler span:last-child,
.container.show-chatbot #chatbot-toggler span:first-child {
  opacity: 0;
}
.container.show-chatbot #chatbot-toggler span:last-child {
  opacity: 1;
}
/* CHATBOT POPUP */
.chatbot-popup {
  display: flex;
  flex-direction: column; /* allow chat-body to grow */
  height: 530px;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);
  transition: all 0.3s ease;
  transform-origin: bottom right;
  bottom: 90px;
  right: 35px;
  width: 320px;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  box-shadow:
    0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.container.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #6d4fc2;
}
.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #6d4fc2;
  background: #fff;
  border-radius: 50%;
}
.header-info .logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}
.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  border-radius: 50%;
  margin-right: -10px;
  background: none;
  transition: 0.2s ease;
}
.chat-header button:hover {
  background: #593bab;
}

/* BODY FIX */
.chat-body {
  flex: 1; /* take all remaining space */
  overflow-y: auto;
  padding: 25px 22px;
  padding-bottom: 10px; /* ensure last message is above footer */
  display: flex;
  flex-direction: column;
  gap: 20px;
  scrollbar-width: thin;
  scrollbar-color: #ddd3f9 transparent;
}
.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}
.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  align-self: flex-end;
  margin-bottom: 2px;
  fill: #fff;
  background: #6d4fc2;
  border-radius: 50%;
}
.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}
.chat-body .bot-message .message-text {
  background: #f6f2ff;
  border-radius: 13px 13px 13px 3;
}
.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .user-message .message-text {
  background: #6d4fc2;
  color: #fff;
  border-radius: 13px 13px 3px 13px;
}

/* FOOTER FIX */
.chat-footer {
  position: relative;
  width: 100%;
  background: #fff;
  bottom: 0;
  padding: 15px 22px 20px;
}
.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid 32px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}
.chat-footer .chat-form:focus-within {
  outline: 2px solid #6d4fc2;
}
.chat-form .message-input {
  border: none;
  outline: none;
  background: none;
  height: 47px;
  width: 100%;
  padding: 0 17px;
  font-size: 0.95rem;
}
.chat-form button {
  height: 35px;
  width: 35px;
  border: none;
  display: none;
  outline: none;
  cursor: pointer;
  font-size: 1.15rem;
  color: #fff;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 50%;
  background: #6d4fc2;
  transition: 0.2s ease;
}
.chat-form button:hover {
  background: #593bab;
}
.chat-form .message-input:valid ~ button {
  display: block;
}

/* responsive media query for mobile screens */
@media (max-width: 520px) {
  #chatbot-toggler {
    bottom: 20px;
    right: 20px;
  }
  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .chatbot-popup .chat-header {
    padding: 12px 15px;
  }
  .chat-body {
    height: calc(90% - 55px);

    padding: 25px 15px;
  }
  .chat-footer {
    padding: 10px 15px 15px;
  }
}
